.nav_items .active{
    color: var(--text-color);
}
.nav_items p{
    color: rgba(255, 255, 255, 0.388) ;
}
.hero .btn{
    background-color: var(--secondary-color);
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 25px;
}
.hero-title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
}
.search{
    width: 70%;
    padding: 20px 40px;
    border-radius: 15px;
    margin-top: -4vh;
    background-color: var(--primary-color);
    color: var(--text-color);
    /* Bring to Front */
    position: relative; /* Needed for z-index to work */
    z-index: 10; /* Higher value ensures it appears in front */
    
    /* Optional Shadow Effect for Depth */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    
}
.search .btn{
    background-color: var(--secondary-color);
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
}
.upcoming, .nearbyevents{
    margin-top: 22vh !important;
}
.upcoming .btn{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 50px !important;
}
.email-sub{
    background-color: var(--primary-color);
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    padding: 20px 40px;
    border-radius: 15px;
    width: 40%;
    margin-bottom: 10vh;
    margin-top: 10vh;
    /* Bring to Front */
    position: relative; /* Needed for z-index to work */
    z-index: 10; /* Higher value ensures it appears in front */
    
    /* Optional Shadow Effect for Depth */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.email-sub .btn{
    background-color: var(--secondary-color);
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 5px 50px !important;
}
.email-sub p{
    color: var(--sec-text-color);
    font-size: 1.1rem;
    font-weight: 600;
}